*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

 }
b {}

.header {
    background: gray;
    margin-bottom:20px;
}

.main-logo-menu {
    width: 1000px;
    background: red;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.main-logo {
    width: 250px;
    background: blue;
}

img {
    max-width: 100%;
}

.main-menu ul {
    list-style: none;
}

.main-menu ul li {
    float: left;
}

.main-menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}

.main-menu ul li a:hover {
    background: black;
    transition: 3s;
}

.main-body{
    height: 2000px;
    width: 1000px;
    background: black;
    margin:auto;
    margin-bottom: 20px;
}
.footer{
    background: gray;
}

.footer-all{
    width: 1000px;
    /* background: yellow; */
    margin: auto;
    display:flex;
    overflow: hidden;
    /* align-items: center; */
}

.footer-part{
    /* background: green; */
    width: 30.33%;
    margin-left: 3%;

}

.footer-box{
    margin-left: -3%;
    padding: 20px 20px;

}

.footer-part ul {
    list-style: none;

}